{% extends 'portfolio/base.html' %}
{% load static %}
{% block content %}
<section class="page-title bg-primary position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="text-white font-tertiary">About Me</h1>
      </div>
    </div>
  </div>
<img src="{% static 'portfolio/images/illustrations/page-title.png' %}" alt="illustrations" class="bg-shape-1 w-100">
<img src="{% static 'portfolio/images/illustrations/leaf-pink-round.png' %}" alt="illustrations" class="bg-shape-2">
<img src="{% static 'portfolio/images/illustrations/dots-cyan.png' %}" alt="illustrations" class="bg-shape-3">
<img src="{% static 'portfolio/images/illustrations/leaf-orange.png' %}" alt="illustrations" class="bg-shape-4">
<img src="{% static 'portfolio/images/illustrations/leaf-yellow.png' %}" alt="illustrations" class="bg-shape-5">
<img src="{% static 'portfolio/images/illustrations/dots-group-cyan.png' %}" alt="illustrations" class="bg-shape-6">
<img src="{% static 'portfolio/images/illustrations/leaf-cyan-lg.png' %}" alt="illustrations" class="bg-shape-7">
</section>

<!-- about -->
<section class="section pt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <p>Welcome to the About section of my website.

        </p>
        <p>It's me Lokendra Thapa from the beautiful
        district of Jajarkot, Nepal. I completed my School Leaving Certificate (SLC) from Bal Higher 
        Secondary School in Jajarkot in the year 2015, and went on to pursue higher education in
         the Science faculty at GVN Secondary School in Nepalgunj. I successfully completed
          my +2 studies in 2017, and later earned a Bachelor's degree in BSc CSIT from 
          Nepalgunj Campus in the year 2022.</p>
          <p>
            The unwavering support of my parents, Bimal Thapa and Kalika Thapa,
             has been instrumental in my academic success. I currently 
             resides in the vibrant town of Kirtipur, Kathmandu, where i 
             continues to pursue his passion for learning and growth.
          </p>
          <p>When i am not busy with my professional pursuits, I loves to travel and
             explore new places, write code, and indulge in my love for movies and web series.
             My insatiable curiosity and thirst for knowledge have always propelled me to seek 
             out new challenges and opportunities to expand my skill set.

            With a strong academic background and a diverse range of interests and experiences, 
            I am committed to making a positive impact in the world. I look forward to 
            collaborating with like-minded individuals on exciting new projects and initiatives.
            
            Thank you for taking the time to learn more about me.</p>
      </div>
      <div class="col-md-4 text-center drag-lg-top">
        <div class="shadow-down mb-4">
          <img src="{% static 'portfolio/images/about/profile.jpg' %}" alt="author" class="img-fluid w-100 rounded-lg border-thick border-white">
        </div>
        <h4>Lokendra Thapa</h4>
      </div>
    </div>
  </div>
</section>
<!-- /about -->

<!-- Work Process -->
<section class="section">
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">Work Process</h2>
      </div>
      <div class="col-lg-3 col-md-4 text-center hover-shadow pt-3">
        <div class="">
          <img src="{% static 'portfolio/images/icons/plan.png' %}" class="mb-4" alt="icon">
          <h4 class="mb-4">Research and Plan</h4>
          <p>The process of research and planning in a web development
             project involves identifying project goals, researching the
              market and competitors, creating a plan with a timeline and
               budget, considering SEO, accessibility, and security, and 
               designing with user experience in mind. This process ensures 
               that the final product meets stakeholder expectations and is 
               functional and user-friendly.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 text-center hover-shadow pt-3">
        <img src="{% static 'portfolio/images/icons/design.png' %}" class="mb-4" alt="icon">
        <h4 class="mb-4">Design and Develop</h4>
        <p>The process of designing and developing a web development project typically 
          involves several stages, including creating wireframes and mockups, developing
           the front-end and back-end code, and integrating any necessary third-party 
           services or APIs. The design and development process may also involve testing 
           and debugging to ensure that the final product is functional and user-friendly. 
          .</p>
      </div>
      <div class="col-lg-3 col-md-4 text-center hover-shadow pt-3">
        <img src="{% static 'portfolio/images/icons/print.png' %}" class="mb-4" alt="icon">
        <h4 class="mb-4">Deliver</h4>
        <p>Project delivery involves a series of processes that are typically carried out in 
          a sequential manner. These processes may include planning, initiating, executing, 
          monitoring, controlling, and closing. The planning process involves defining project
           scope, identifying deliverables, setting timelines, and creating a project plan. The 
           initiation process involves assembling a project team and defining roles and responsibilities.</p>
      </div>
    </div>
  </div>
</section>
{% endblock content %}